
.hotspot{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: blue;
}

.hotspot.selected{
  background-color: red;
}
.hotspot:not(.selected) > .annotation{
  display: none;
}


/* not important document styling */
#hotspot-camera-view-demo{
  display: flex;
  justify-content: center;
  }
  
  .modelblock{
  width: 50vw;
  height: 50vw;
  margin: 10vh 0px 0px 0px;
  
  }
  
  #formblock{
  width: 40vw;
  margin: 10vh 0px 0px 0px;
  
  height: 80vh;
  background-color: white;
  }
  .center{
  display: flex;
  justify-content: center;
  }

  .btn-blue {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .btn-blue:hover
  {
    opacity: 1;
    background-color: #ee0000;
   
  }
  
  .btn-blue:active
  {
    background-color: #cc0000;
  
  }
  .mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
  }

  
  .view-button {
      background: #fff;
      border-radius: 4px;
      border: none;
      box-sizing: border-box;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      color: rgba(0, 0, 0, 0.8);
      display: block;
      font-family: Futura, Helvetica Neue, sans-serif;
      font-size: 12px;
      font-weight: 700;
      max-width: 128px;
      overflow-wrap: break-word;
      padding: 0.5em 1em;
      position: absolute;
      width: max-content;
      height: max-content;
      transform: translate3d(-50%, -50%, 0);
    }
   .hint{
 position: absolute;
    bottom: 0px;
    color: rgba(0, 0, 0, 0.103);
    font-family: Futura, Helvetica Neue, sans-serif;
    padding: 5px;
   }


   @media only screen and (min-width: 1000px) {
    .modelblock{
      width: 50vw;
      height: 50vh;
      margin: 10vh 0px 0px 0px;
      
      }
  }